                                

/*-- -------------------------- -->
<---          Product           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #item-section {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #item-section .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 46.875rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 28px - 64px */
    gap: clamp(1.75rem, 5vw, 4rem);
  }
  #item-section .cs-picture-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 1vw, 1.25rem);
  }
  #item-section .cs-large-images {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  #item-section .cs-large-image {
    width: 100%;
    /* 320px - 520px */
    height: clamp(20rem, 68vw, 32.5rem);
    /* makes it cover the parent dimensions */
    object-fit: contain;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  #item-section .cs-large-image:first-of-type {
    position: relative;
  }
  #item-section .cs-large-image img {
    width: 100%;
    height: 100%;
    /* makes it cover the parent like a background image */
    object-fit: cover;
    display: block;
  }
  #item-section .cs-small-images {
    overflow-x: scroll;
    display: flex;
    /* 16px - 20px */
    gap: clamp(1rem, 1vw, 1.25rem);
    position: relative;
    z-index: 10;
  }
  #item-section .cs-thumbnail {
    /* 100px - 120px */
    height: clamp(6.25rem, 8vw, 7.5rem);
    object-fit: cover;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
    z-index: 10;
    transition: border-color 0.3s;
  }
  #item-section .cs-thumbnail.cs-active {
    border-color: var(--primary);
  }
  #item-section .cs-thumbnail:hover {
    border-color: var(--primary);
  }
  #item-section .cs-info-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  #item-section .cs-info-item {
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
    display: block;
  }
  #item-section .cs-info-item .cs-bold {
    font-weight: 700;
  }
  #item-section .cs-h3 {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    margin: 0 0 1.5rem;
    color: var(--headerColor);
  }
  #item-section .cs-price {
    /* 39px - 49px */
    font-size: clamp(2.4375rem, 3vw, 3.0625rem);
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -1.17px;
    color: var(--secondary);
    display: block;
  }
  #item-section .cs-info-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    margin: 1rem 0 1.5rem;
    color: var(--bodyTextColor);
  }
  #item-section .cs-button-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  #item-section .cs-quantity {
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--headerColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
  }
  #item-section .cs-quantity-button {
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    border: none;
    transition: opacity 0.3s;
  }
  #item-section .cs-quantity-button.cs-inactive {
    cursor: not-allowed;
    opacity: 0.5;
  }
  #item-section .cs-quantity-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }
  #item-section .cs-quantity-value {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5em;
    text-align: center;
    color: var(--headerColor);
  }
  #item-section .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 15.625rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #item-section .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #item-section .cs-button-solid:hover:before {
    width: 100%;
  }
  #item-section .cs-button-solid {
    border: none;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #item-section .cs-picture-group {
    flex-direction: row;
  }
  #item-section .cs-small-images {
    overflow: initial;
    flex-direction: column;
  }
  #item-section .cs-button-group {
    flex-direction: row;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #item-section .cs-container {
    max-width: 80rem;
    flex-direction: row-reverse;
    align-items: center;
  }
  #item-section .cs-large-images {
    min-width: 26.25rem;
  }
  #item-section .cs-large-image {
    /* 480px - 620px */
    height: clamp(30rem, 43vw, 38.75rem);
  }
  #item-section .cs-product-info {
    /* 20px - 60px */
    padding: clamp(1.25rem, 3vw, 3.75rem) 0;
  }
  #item-section .cs-button-solid {
    flex-grow: 1;
  }
}
                                
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #item {
      padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
      overflow: hidden;
      position: relative;
      z-index: 1;
      padding-top: 250px;
    }
    #item:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #0c5c92;
      opacity: 0.05;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #item .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #item .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 35.625rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }
    #item .cs-text-large {
      font-size: 1.25rem;
      line-height: 1.5em;
      margin: 0 0 0.75rem 0;
      color: #1a1a1a;
    }
    #item .cs-text {
      margin-bottom: 2rem;
    }
    #item .cs-button-solid {
      font-size: 1rem;
      font-weight: 700;
      line-height: 3.5rem;
      text-decoration: none;
      margin: 0;
      /* 32px - 48px */
      padding: 0 clamp(2rem, 4vw, 3rem);
      background-color: #0c5c92;
      overflow: hidden;
      color: #fff;
      border-radius: 0.5rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: color 0.3s;
    }
    #item .cs-button-solid:before {
      content: "";
      width: 0%;
      height: 100%;
      background: #1a1a1a;
      opacity: 1;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #item .cs-button-solid:hover {
      color: #fff;
    }
    #item .cs-button-solid:hover:before {
      width: 100%;
    }
    #item .cs-spotlight {
        text-align: center;
        /* 40px - 48px */
        margin: clamp(2.5rem, 4vw, 3rem) 0 0 0;
        padding: clamp(2.5rem, 4vw, 3rem) 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        /* 24px - 32px */
        gap: clamp(1.5rem, 3vw, 2rem);
    }
    #item .cs-spotlight:before {
        /* dashed line */
        content: "";
        width: 100%;
        height: 2px;
        background-image: linear-gradient(
            90deg,
            #bababa,
            #bababa 75%,
            transparent 75%,
            transparent 100%
        );
        background-size: 16px 16px;
        border: none;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }
    #item .cs-h3 {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.2em;
      margin: 0;
      color: #1a1a1a;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
    }
    #item .cs-rating-text {
      font-size: 1rem;
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      margin: 0;
      color: #4e4b66;
    }
    #item .cs-icon {
      width: 5.125rem;
      height: 5.9375rem;
      position: absolute;
      top: -1.875rem;
      right: 1.25rem;
    }
    #item .cs-image-group {
      width: 100%;
      max-width: 39.375rem;
      /* Changes to auto at desktop */
      height: 30rem;
      /* clips the corners of the children around the border radius */
      overflow: hidden;
      border-radius: 1rem;
      order: -1;
      position: relative;
    }
    #item .cs-background {
      width: 500px;
      height: 500px;
      /* makes it cover the parent dimensions */
      object-fit: cover;
      display: block;
    }
    #item .cs-background img {
      width: 100%;
      height: 100%;
      /* makes it cover the parent like a backgorund image */
      object-fit: cover;
      display: block;
    }

    #item .cs-desc {
      /* 25px - 31px */
      font-size: clamp(1.5625rem, 3.125vw, 1.9375rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      width: 100%;
      margin: 1rem 0 0 0;
      color: #fff;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #item .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
    #item .cs-content {
      align-self: center;
    }
    #item .cs-image-group {
      height: auto;
      min-height: 42.5rem;
    }
  }
                   
  
  
  