body {
    margin: 10px;
}
/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #event-hero {
    padding: var(--sectionPadding);
    /* 150px - 200px - top leaving extra space for the navigation */
    /* 40px - 90px bottom */
    padding: clamp(9.375rem, 16.95vw, 12.5rem) 1rem clamp(2.5rem, 4.82vw, 5.625rem) 1rem;
    background-color: #F7F7F7;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #event-hero .cs-container {
    width: 100%;
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 5vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #event-hero .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #event-hero .cs-flex {
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #event-hero .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.438rem, 5vw, 3.813rem);
    text-transform: uppercase;
  }

  #event-hero .cs-topper {
      font-size: 1.15rem;
  }
  #event-hero .cs-text {
    max-width: none;
  }

  #event-hero .cs-h3 {
      font-size: 1.5rem;
  }

  #event-hero .event-headline {
      font-size: 1.25rem;
  }
  #event-hero .cs-picture-group {
    width: 100%;
    /* 340px - 547px */
    height: clamp(21.25rem, 42.5vw, 34.2rem);
    display: block;
    position: relative;
    z-index: 1;
  }
  #event-hero .cs-picture-wrapper {
    width: 100%;
    /* changes to 90% at tablet, then back to 100% at desktop */
    height: 100%;
    display: block;
    position: relative;
  }
  #event-hero .cs-picture-wrapper:hover {
    cursor: pointer;
  }
  #event-hero .cs-picture-wrapper:hover .cs-play {
    transform: translate(-50%, -50%) scale(1.2);
  }
  #event-hero .cs-picture-wrapper video,
  #event-hero .cs-picture-wrapper .cs-picture {
    width: 100%;
    height: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #event-hero .cs-picture-wrapper video img,
  #event-hero .cs-picture-wrapper .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #event-hero .cs-picture-wrapper video:before,
  #event-hero .cs-picture-wrapper .cs-picture:before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #event-hero .cs-play {
    /* 80px - 120px */
    width: clamp(5rem, 14vw, 7.5rem);
    height: clamp(5rem, 14vw, 7.5rem);
    background-color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, opacity 0.3s;
    backdrop-filter: blur(8px);
  }
  #event-hero .cs-play.cs-hide {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) !important;
  }
  #event-hero .cs-icon {
    width: 1.25rem;
    height: auto;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #event-hero .cs-container {
    max-width: 59rem;
  }
  #event-hero .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #event-hero .cs-flex {
    width: 100%;
  }
  #event-hero .cs-title {
    margin: 0;
    max-width: 100%;
  }
  /* #event-hero .cs-text {
    max-width: 23.875rem;
  } */
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #event-hero .cs-container {
    max-width: 80rem;
  }
}
/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
  #event-hero .cs-container {
    max-width: 107.5rem;
  }
  #event-hero .cs-text {
    max-width: 35rem;
  }
}

